.git
.github
.next
node_modules
.pnpm-store
.env
.env.*
coverage
playwright-report
test-results
dist
build
Dockerfile*
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.db
*.db-journal
*.db-shm
*.db-wal
